---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import HeroImage from '../components/HeroImage.astro';

type Props = CollectionEntry<'musings'>['data'];

const { title, description, pubDate, updatedDate, heroImage, heroText, heroImageCredit } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: 0 auto;
				padding: 1em;
			}

			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}

			.rss-subscribe {
				margin: 1em 0;
				padding: 0.5em;
				background: rgba(var(--gray-light), 20%);
				border-radius: 4px;
				text-align: center;
			}

			.rss-subscribe p {
				margin: 0;
				font-size: 0.9em;
			}

			.rss-subscribe a {
				color: rgb(var(--gray-dark));
				text-decoration: underline;
			}

			.rss-subscribe a:hover {
				color: rgb(var(--black));
			}

			.talkyard-comments {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 0.5em;
				color: rgb(var(--gray));
				font-size: 0.9em;
				opacity: 0.9;
			}
			
			/* Component-specific responsive adjustments */
			@media (max-width: 35em) {
				.prose {
					padding: 0.5em;
				}
				.hero-image {
					padding: 0.5em;
				}
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					<HeroImage 
						heroImage={heroImage}
						heroText={heroText}
						heroImageCredit={heroImageCredit}
					/>
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
					</div>
					<slot />
					<hr />
					<div class="rss-subscribe">
						<p>Enjoyed this post? <a href="/rss.xml">Subscribe to my RSS feed</a> to get notified of new posts.</p>
					</div>
				</div>
			</article>
		</main>
		<script is:inline>talkyardServerUrl='https://site-qeybkd821q.talkyard.net';</script>
		<script is:inline defer src="https://c1.ty-cdn.net/-/talkyard-comments.min.js"></script>
		<!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
		<div class="talkyard-comments" data-discussion-id={title}>
			<noscript>Please enable Javascript to view comments.</noscript>
		</div>
		<Footer />
	</body>
</html>
